{% extends 'base.html.twig' %}

{% block title %}Powerful - Boutique en ligne{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-5 mt-5">Produits</h1>
    <form data-turbo='false'  method="get" action="{{ path('app_search_engine')}}" class="d-flex" role="search">
        <input name="word"  class="form-control me-2" type="search" placeholder="Rechercher un produit" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    <div class="row">
        {% for product in products %}
        {%  if product.stock > 0 %} 
            <div class="col-md-3 mt-4">
                <div class="card" style="width: 100%;">
                    <img src="{{ asset('uploads/images/'~product.image)}}" class="imgproduct card-img-top" alt="image des produits">
                    <div class="card-body">
                        <a class="titleProductLink" href="{{ path('app_home_product_show',{'id':product.id}) }} "><h5 class="card-title titleProduct">{{ product.name }}</h5></a>
                        <p class="card-text">{{ product.description|slice(0,60) }}...</p>
                        <h3>{{ product.price }} €</h3> <!-- altgr + e pour le sigle euro-->
                        {% if is_granted("ROLE_USER") %}
                        <a href="{{ path('app_cart_new',{'id':product.id}) }}" class="btn btn-outline-success">Ajouter au panier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %} 
        {% endfor %}
   
    </div>
    {{ knp_pagination_render(products, 'layouts/pagination_template.html.twig') }}
</div>


{% endblock %}
